
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: stretch;
    background-image: url(../images/m.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 300px; 
    min-height: 510px; 
}

.welcome {
    margin-top: 20px;
    font-size: 30px;
    font-family: 'get_schwifty';
    color: black;
    text-shadow: 2px 2px 2px #11c0cc;
    text-align: center;
}