* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../images/rr.jpeg);
}

.detailCard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top:3rem;
    margin-left: 5rem;
    width:40rem;
    height: 22rem;
    border-radius: 5px;
}

.loading {
    position: absolute;
    top: 20%;
    left: 47%;
    font-size: 30px;
    color: #11c0cc;
    text-shadow: 1px 1px 1px whitesmoke;
    margin-top:5rem;
    
}

.titulo {
    font-family: 'get_schwifty';
    font-size: 40px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #11c0cc;
    text-align: center;
    margin:2px 0px 24px 6px;
    padding-top: 1rem;
    letter-spacing: 1.5px;
}

.status {
    text-align: center;
    font-family: 'get_schwifty';
    font-size: 33px;
    padding:5px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #11c0cc;
}

.gender {
    text-align: center;
    font-family: 'get_schwifty';
    font-size: 30px;
    padding:5px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #11c0cc;
}

.specie {
    text-align: center;
    font-family: 'get_schwifty';
    font-size: 30px;
    padding-top:4px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #11c0cc;
}

.origin {
    text-align: center;
    font-family: 'get_schwifty';
    font-size: 20px;
    padding-top:28px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #11c0cc;
}

.imagen {
    max-width: 100%;
    max-height: 100%;
    margin-left: 5rem;
    margin-top: 2rem;
    width: 30%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(88, 86, 86);
}

.imagen:hover {
    transform: scale(1.2);
}